<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-cadastro.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="container col-xs-3">
	  <h2>Cadastre-se</h2>
	    <div class="form-group">
	      <label for="text">Usuário</label>
	      <input type="email" class="form-control" id="text" placeholder="Usuário" name="email">
	    </div>
	    <div class="form-group">
	      <label for="pwd">Senha</label>
	      <input type="password" class="form-control" id="pwd" placeholder="Senha" name="pwd">
	    </div>
	    <div class="form-group">
	    	<label for="pwd">Nome Completo</label>
	    	<input type="text" class="form-control" id="text" placeholder="Nome Completo">
	    </div>
	    <div class="form-group">
	    	<label for="email">Email</label>
	    	<input type="email" class="form-control" id="email" placeholder="Email">
	    </div>
	    <div class="form-group">
	    	<label for="perfil">Selecione seu perfil</label>
	    	<select class="form-control" id="perfil">
	    		<option>Gerador de Conteudo</option>
	    		<option>Estudante</option>
	    	</select>
	    </div>
	    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
	    <div class="link">
	    	<a href="">Retornar</a>
	    </div>
  </form>
</div>
</body>
</html>