<!DOCTYPE html>
<html>
<head>
	<title>Cadastro</title>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="style-cadastro.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="style-cadastro.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="container-fluid col-xs-3">
	  <legend><h2>Cadastro</h2></legend>
	    <div class="form-group">
	      <!-- <label for="text">Usuário</label> -->
	      <input type="email" class="form-control input-lg" id="text" placeholder="Usuário" name="email">
	    </div>
	    <div class="form-group">
	     <!--  <label for="pwd">Senha</label> -->
	      <input type="password" class="form-control input-lg" id="pwd" placeholder="Senha" name="pwd">
	    </div>
	    <div class="form-group">
	    	<!-- <label for="pwd">Nome Completo</label> -->
	    	<input type="text" class="form-control input-lg" id="text" placeholder="Nome Completo">
	    </div>
	    <div class="form-group">
	    	<!-- <label for="email">Email</label> -->
	    	<input type="email" class="form-control input-lg" id="email" placeholder="Email">
	    </div>
	    <div class="form-group">
	    	<!-- <label for="perfil">Selecione seu perfil</label> -->
	    	<select class="form-control input-lg" id="perfil">
	    		<option>Gerador de Conteudo</option>
	    		<option>Estudante</option>
	    	</select>
	    </div>
	    <button type="submit" class="btn btn btn-success btn-lg btn-block">Cadastrar</button>
	    <button class="btn btn-lg btn-block">
	    	<a href="#">Retornar</a>
	    </button>
  </form>
</div>
</body>
</html>