<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-login.css">
</head>
<body>
	<div class="container">
		<form class="form-signin col-xs-3">
			<h3 class="form-signin-heading">Login</h3>
			<label for="inputEmail" class="sr-Only">Email</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email" required="autofocus">
			<label for="inputEmail" class="sr-Only">Senha</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Senha" required="autofocus">	
			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember"> Esqueceu a Senha?
				</label>
			</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		</form>
	</div>
</body>
</html>