<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style-login.css">
    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid col-md-9 col-md-offset-4 form-gro" id="login">
      <form class="form-signin col-md-4">
        <legend><h2>Login</h2></legend>
        <!-- <label for="inputEmail" class="" form-control">Email</label> -->
        <input type="email" id="inputEmail" class="form-control input-lg" placeholder="Email" required autofocus>
        <!-- <label for="inputPassword" class="">Senha</label> -->
        <input type="password" id="inputPassword" class="form-control input-lg" placeholder="Senha" required>
        <div class="checkbox">
        </div>
        <button class="btn btn-success btn-lg btn-block" type="submit">Entrar</button>
      </form>
    </div> 
  </body>
</html>
