body{
	background: #DCDCDC;
}
.container-fluid{
	background-color: #DCDCDC;
	padding-bottom: 30px;
	margin-left: 35%;
}
.form-group{
	min-width: 300px;
	box-sizing: border-box;
	margin-bottom: 22px;
}
.btn-primary{
	margin: 0px;
	background-color: #213b64;
}
.link{
	text-align: center;
	padding-top: 10px;
}
.link a{
	font-size: 1.2em;
}
h2{
	text-align: center;
}
a{
	color: black;
}
.btn-group-lg>.btn, .btn-lg{
	border-radius: 8px;
	background-color: #fff;
}
