body{
	margin: 0;
}
.jumbotron{
	text-align: center;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
	background-color: #d3d3d3;
}
.navbar-brand,a{
	padding-right: 15px;
	background: ##d3d3d3;
}
.navbar{
	margin-bottom: 0;
}
a{
	color: black;
}
.navbar-header{
	background-color: #ADD8E6;
	margin: 0;
}
.navbar-collapse{
	background-color: #ADD8E6;
	margin: 0;
}
.caption{
	text-align: center;
}
