<!DOCTYPE html>
<html>
<head>
	    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div id="div1"></div>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        	<h1><em></em><span>Entrada</span></h1>
            <h1>Criar Conta</h1>
              </div>
    </nav>
    <div id="div2"> 

        <div id="div3">

        </div>
    </div>
    <div id="div4">
    <h1><font style="text-transform: capitalize">ESTUDE você MESMO </font></h1> 
    <p>.com.br</p>

     
        
 </div>
</div>
<div id="div5">
<p>Na estude você mesmo você se prepara para o vestibular de forma gratuita e eficiente </p>
<p>exeperimente!</p>
</div>
<div id="div6">
<input type="button" name="botao-ok" value="começe agora">

</div>
</body>
</div>
</html>