#addNew:focus, #addNew:hover{
	text-decoration: none;
}
.verticalCenter {
  position: relative;
  height: 14rem;
}
.login {
  position: absolute;
  top: 100%;
  
}
.register {
  position: absolute;
  top: 50%;
  
}
label{
	display: block;
}
#addNew{
	font-size: 4em;
	margin: 0;	
}
.add-title{
	text-align: center;
	position: relative;
	top: 20%;
}
.material-title{
	position: relative;
	top: 45%;
	margin: 0;
}
.material-content *{
	font-size: 2em;
}
.material-content{
	box-shadow: 1.2px 1.2px 3px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
  	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.content-size{
	padding: 1px 10px 5px 10px;
	text-align: center;
}
.material-content-mouseOver{
	transition: 0.5s;
	background-color: rgba(0,0,0,0.5);
	color: white;
}
.navbar{
	margin-bottom: 0;
	border-radius: 0px;
}
.row{
	margin-top: 40px;
}
.material{
	padding: 15px;
}
.content{
	width: 80%;
	margin: auto;
}
.title{
	padding: 20px 20px 0px 0px;
}
.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.title-categorie.col-md-5,
.title-categorie.col-md-3{
	padding-left: 0;
	padding-right: 0; 
}
input.input-lg.form-control,
select.input-lg.form-control{
	border-radius: 0;
}